/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $primary-font;
  color: $basic-color-text;
  background-color: $bg-basic;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
