/* GLOBAL */
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/.visually-hidden.scss";
@import "./common/.list-reset.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/container.scss";
@import "./blocks/navigation.scss";
@import "./blocks/logo.scss";
@import "./blocks/main.scss";
@import "./blocks/hero.scss";
@import "./blocks/title-h1.scss";
@import "./blocks/title-h2.scss";
@import "./blocks/title-h3.scss";
@import "./blocks/title-h4.scss";
@import "./blocks/button.scss";
@import "./blocks/benefits.scss";
@import "./blocks/advantagies.scss";
@import "./blocks/illustration.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";
@import "./blocks/socials.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/extra-catalog.scss";
@import "./blocks/extra-product.scss";
@import "./blocks/gift.scss";
@import "./blocks/subscribe.scss";
