@media (min-width: $tablet-width) {
  .advantages {
    border-bottom: 1px solid #e6e6e6;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 20px 0 48px 2px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 55px;
    counter-reset: new 0;
    padding: 10px 0 57px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
  }
}

.advantages__title {
  line-height: 40px;
  margin: 20px 0 20px 2px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    margin-top: 54px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    margin-top: 10px;
  }
}

.advantages__item {
  display: flex;
  gap: 20px;
  z-index: 1;
  align-items: center;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    counter-reset: advantages 1;
    gap: 31px;
    width: 250px;
    min-height: 280px;
  }

  .advantages__item::after {
    content: counter(advantages);
    z-index: -1;
    color: $bg-section-dark-button-secondary;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    top: 10px;
    right: 3px;
    display: block;
    align-items: end;
  }

  .advantages__item--healthy::after {
    counter-increment: advantages 0;
    margin-right: 25px;
  }

  .advantages__item--fast::after {
    counter-increment: advantages 1;
  }

  .advantages__item--functional::after {
    counter-increment: advantages 2;
  }

  .advantages__item--productive::after {
    counter-increment: advantages 3;
    margin-right: -5px;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  background-color: $basic-color-button;
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 60px;
  height: 60px;
}

@media (min-width: $tablet-width) {
  .advantages__item::before {
    background-size: 80px 80px;
    min-width: 80px;
    height: 80px;
    margin-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item::before {
    margin: 6px 0 0;
  }
}

.advantages__item--healthy::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 30px 32px;
}

.advantages__item--fast::before {
  background-image: url("../../icons/stack.svg#glass");
  background-size: 26px 28px;
}

.advantages__item--functional::before {
  background-image: url("../../icons/stack.svg#eat");
  background-size: 25px 30px;
}

.advantages__item--productive::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px 31px;
}

.advantages__text {
  align-self: center;
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin-bottom: 2px;
}

@media (min-width: $tablet-width) {
  .advantages__text {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    word-break: break-word;
  }
}
