.catalog__container {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    padding: 0 30px;
  }
}

.catalog__title {
  padding: 27px 0 0 20px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding: 65px 0 0;
  }
}

@media (min-width: $desctop-width) {
  .catalog__title {
    padding: 74px 0 0;
  }
}

.catalog__list {
  margin: 0;
  padding: 40px 0 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 84px 0 0;
  }
}

@media (min-width: $desctop-width) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    padding: 84px 0 0;
  }
}

.catalog__item {
  border-top: 1px solid $extra-color-button-hover;
  padding: 19px 20px 25px;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    background-image: linear-gradient(180deg, $bg-basic 16%, $bg-section-dark-button-secondary 16%);
    border-top: none;
    padding: 0 37px 40px;
  }
}

@media (min-width: $desctop-width) {
  .catalog__item {
    padding: 0 38px 40px;
  }
}

