.catalog__container {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    padding: 0 30px;
  }
}

.catalog__title {
  margin: 0;
  padding: 27px 0 0 20px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding: 63px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding: 74px 0 0;
  }
}

.catalog__list {
  margin: 0;
  padding: 40px 0 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 65px 61px;
    padding: 90px 0 0;
    display: grid;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 72px 80px;
    padding: 90px 0 0;
  }
}
