.contacts {
  position: relative;
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 0;
}

@media (min-width: $tablet-width) {
  .contacts__info {
    padding: 61px 40px;
  }
}

@media (min-width: $desctop-width) {
  .contacts__info {
    z-index: 1;
    background-color: $bg-basic;
    gap: 95px;
    max-width: 565px;
    margin-top: 95px;
    padding: 60px 78px 60px 80px;
    position: absolute;
  }
}

.contacts__text {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  color: #111111;
  text-transform: uppercase;
  min-width: 140px;
  margin: 0;
}

.contacts__address {
  min-width: 140px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: $desctop-width) {
  .contacts__address {
    text-align: start;
  }
}

.contacts__map {
  object-fit: cover;
  width: 100%;
}

.contacts__map-image {
  display: block;
}

.contacts__map-iframe {
  border: 0;
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .contacts__map-iframe {
    height: 400px;
  }
}

