.extra-product {
  border-top: 1px solid $basic-color-cards;
  padding: 13px 0 19px;
}

.extra-product__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $extra-color-text;
  text-transform: uppercase;
  grid-column: 1/-1;
}

@media (min-width: $tablet-width) {
  .extra-product__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-product__text {
  font-size: 14px;
  line-height: 14px;
}

.extra-product__button {
  grid-column: 1/-1;
}

