.extra-catalog__container {
  padding-top: 25px;
}

@media (min-width: $tablet-width) {
  .extra-catalog__container {
    padding-top: 74px;
  }
}

@media (min-width: $desctop-width) {
  .extra-catalog__container {
    padding-top: 71px;
  }
}

.extra-catalog__title {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .extra-catalog__title {
    padding: 0 0 0 40px;
  }
}

@media (min-width: $desctop-width) {
  .extra-catalog__title {
    padding: 0;
  }
}

.extra-catalog__list {
  margin: 0;
  padding: 0 0 35px;
}

@media (min-width: $tablet-width) {
  .extra-catalog__list {
    margin: 80px 0 0;
  }
}
