.footer {
  text-align: center;
  background-color: $bg-section-dark-button-secondary;
  padding: 20px 0;
}

.footer__logo {
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  padding: 20px 0;
  display: flex;
}

.footer__logo:hover {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.6;
}
