.header {
  border-bottom: 1px solid $extra-color-button-hover;
  padding: 13px 0 15px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .header {
    border-bottom: none;
    padding: 25px 0 0;
  }
}

@media (min-width: $desctop-width) {
  .header {
    padding: 55px 0 0;
  }
}

.header__container {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

@media (min-width: $desctop-width) {
  .header__container {
    row-gap: 15px;
  }
}

.header__logo {
  align-items: center;
  gap: 56px;
  height: 38px;
  display: flex;
}

@media (min-width: $tablet-width) {
  .header__logo {
    gap: 13px;
    height: 50px;
  }
}

@media (min-width: $desctop-width) {
  .header__logo {
    gap: 14px;
    height: 59px;
  }
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

@media (min-width: $desctop-width) {
  .header__logo-text {
    width: 118px;
    height: 21px;
  }
}

.header__navigation {
  z-index: 1;
  // background-color: $bg-basic;
  min-width: 100%;
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
}

@media (min-width: $tablet-width) {
  .header__navigation {
    display: block;
    // background-color: $extra-color-text;
    min-width: 436px;
    max-width: calc(100% - 200px);
    position: static;
  }
}

@media (min-width: $desctop-width) {
  .header__navigation {
    max-width: 600px;
  }
}

.header__mobile-menu {
  // background-color: $extra-color-text;
  border: none;
  padding: 5px 0 5px 5px;
}

@media (min-width: $tablet-width) {
  .header__mobile-menu {
    display: none;
  }
}

.header__mobile-menu::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#menu-collapsed");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

.header__mobile-menu--opened::before {
  background-image: url("../../icons/stack.svg#menu-expanded");
  background-size: 18px 18px;
}

