.logo {
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

@media (min-width: $desctop-width) {
  .logo__text {
    width: 118px;
    height: 21px;
  }
}
