/* stylelint-disable @stylistic/function-comma-space-after */
/* stylelint-disable @stylistic/indentation */
// .navigation {

// }

// .navigation__logo {

// }

.navigation__toggle {
    background: 0 0;
    border: none;
    min-width: 24px;
    min-height: 24px;
    position: absolute;
    top: 50%;
    right: 20px;
}

.navigation__list {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.navigation__link {
  color: $extra-color-text;
  text-decoration: none;
  display: block;
  position: relative;
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link:active {
  opacity: 0.3;
}

