.navigation__toggle {
  background-color: $extra-color-text;
  border: none;
  padding: 5px 0 5px 5px;
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__list {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    display: flex;
    flex-flow: wrap;
    justify-content: end;
    gap: 33px;
    font-size: 18px;
    line-height: 24px;
    max-width: 60vw;
    padding: 10px 6px 8px;
  }
}

@media (min-width: $desctop-width) {
  .navigation__list {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    padding: 10px 2px 8px;
  }
}

@media (max-width: 767px) {
  .navigation .navigation__list {
    text-align: center;
    z-index: 3;
    background-color: $bg-basic;
    width: 100vw;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.navigation__item {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  flex: 1 0 66px;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .navigation__item {
    flex: unset;
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .navigation__item {
    border-top: 1px solid #e6e6e6;
  }

  .navigation__item:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.navigation__link {
  color: $extra-color-text;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link:active {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .navigation__link {
    padding: 24px 0 21px;
  }
}

@media (min-width: $tablet-width) {
  .navigation__link {
    padding: 10px 0;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desctop-width) {
  .navigation__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .navigation__link--current {
    border-bottom: 2px solid $basic-color-button;
  }
}

@media (min-width: $desctop-width) {
  .navigation__link--current {
    font-size: 20px;
  }
}

