.navigation__toggle {
  background-color: $extra-color-text;
  border: none;
  padding: 5px 0 5px 5px;
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__list {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    display: flex;
    flex-flow: wrap;
    justify-content: end;
    gap: 33px;
    font-family: $secondary-font;
    font-size: 18px;
    line-height: 24px;
    min-width: 440px;
    padding: 10px 0;
  }
}

.navigation__item {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  flex: 1 0 66px;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .navigation__item {
    flex: unset;
    border-bottom: none;
  }
}

.navigation__link {
  color: $extra-color-text;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .navigation__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desctop-width) {
  .navigation__link {
    font-size: 20px;
    line-height: 30px;
  }
}
