.product-card {
  padding: 20px 0 25px;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title-link {
  text-decoration: none;
}

.product-card__title {
  color: $basic-color-title;
}

.product-card__description {
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.product-card--secondary::before {
  content: "";
  background-image: url("../../icons/stack.svg#plus");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  margin: 0 auto 23px;
  display: inline-block;
}
