@media (min-width: $desktop-width) {
  .subscribe {
    padding: 0;
  }
}

.subscribe__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .subscribe__container {
    padding: 73px 0 80px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__container {
    padding-top: 94px;
    padding-bottom: 104px;
  }
}

.subscribe__title {
  position: relative;
  margin: 0 0 32px;
}

@media (min-width: $tablet-width) {
  .subscribe__title {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__title {
    margin-bottom: 70px;
  }
}

.subscribe__title::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  height: 2px;
  width: 100vw;
  background-color: $basic-color-button;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscribe__title-text {
  padding-right: 40px;
  padding-left: 20px;
  margin-left: -20px;
  background-color: $bg-basic;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .subscribe__title-text {
    padding: 0 40px;
    line-height: 43px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__title-text {
    padding: 0 40px 0 30px;
  }
}

.subscribe__text {
  color: $extra-color-text;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 0 24px;
}

@media (min-width: $tablet-width) {
  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
    margin: 0 30px 24px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: $tablet-width) {
  .subscribe__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
}

.subscribe__input {
  font-family: $secondary-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-color-text;
  border: 1px solid #e7e7e7;
  min-height: 56px;
  padding-left: 13px;
}

.subscribe__input::placeholder {
  color: $basic-color-text;
}

.subscribe__input:hover {
  border: 1px solid $basic-color-cards;
}

.subscribe__input:focus,
.subscribe__input:focus-visible {
  border: 2px solid $basic-color-text;
  padding-left: 12px;
}

.subscribe__input:focus:invalid {
  border: 2px solid $status-error;
  padding-left: 12px;
}

.subscribe__input:disabled {
  border: #bbbbbb;
  color: #bbbbbb;
  pointer-events: none;
}

@media (min-width: $tablet-width) {
  .subscribe__input {
    min-width: 376px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__input {
    min-width: 496px;
  }
}

.subscribe__button {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  min-height: 56px;
}

@media (min-width: $tablet-width) {
  .subscribe__button {
    min-width: 256px;
    min-height: auto;
  }
}
