.title-h2 {
  font-family: $secondary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $extra-color-text;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .title-h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

@media (min-width: $desctop-width) {
  .title-h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
